@import url(./reset.css);
h1 {
    font-size: 45pt;
    background-color: rgb(187, 143, 77);
    text-align: center;
    opacity: 0.91;
    font-style: italic;
    

}
#loda{
    padding-top: 2em;
    text-decoration: dotted;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 5em;


}

article{
    width: 200px;
    padding: 1em;
    outline: 2px solid;
    gap: 1em;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.div1{
    padding-top: 2em;
    display: flex;
    flex-direction: row;
    gap: 1em;
}
footer{
    float: inline-end;
}
legend{
    background-color: aqua;

}
#navvid ul,ul>li{
    outline: 1px dashed #ccc;
}

#navvid ul>li>a{
    padding: 1.5em;
    text-decoration: none;
    color: black;
}
#navvid {
    width: 100%;
    height: 49pt;
    background-color: rgba(61, 58, 54, 0.329);
}

#navvid ul{
    width: 100%;
    display: flex;
    justify-content: space-around;}

#navvid ul>li{

    display: flex;
    justify-content: center;
    align-items:center;
}

#navvid ul>li>a:hover{
 background-color: #ccc;
 transition: 0.5s;
}
body{
    background-image: url(./tianlei-wu-QNWKFhKls4A-unsplash.jpg);
}
footer{
    padding-left: 5em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
     Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
}
h2{
    padding-top: 2em;
    text-decoration: dotted;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 5em;
    padding-bottom: 5em;

}